



html,body,#wrapper {
	width: 100%;
	height: 100%;
	margin: 0px;

	
}
html,h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: Roboto, Arial, sans-serif;
	font-weight: 300;
}
body{
	background-color:#151824;
	color: #D3D3D3;
	padding-bottom: 20px;
}

.chart {
	
	font-size: 10px;
	/*margin: auto;*/
	/*float: right;*/
}
.modal{
	color: #333;
}
#gantt{

}
.gantt-wrapper{
	widows: 95%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
#work-density-chart{
	margin-top: 15px;
}
svg text{
	fill:#D3D3D3;
}
.axis path,.axis line {
	fill: none;
	stroke: #D3D3D3;
	opacity: 0.2;
	shape-rendering: crispEdges;
}
.bars{
	position: relative;
	margin-top: 20px;
}
.bar {
	fill: #33b5e5;
}

.bar-failed {
	fill: #CC0000;
}

.bar-running {
	fill: #669900;
}

.bar-succeeded {
	fill: #33b5e5;
}

.bar-killed {
	fill: #ffbb33;
}
.main-bar{
	position: relative;
	border-radius: 2px;

	
}

.phase-info{
	position: absolute;
	/*background-color: #1A1A1A;*/
	/*width:200px;*/
	/*left:-200px;*/
	color: #fff;
	z-index: 200;
	width:100%;
}
.phase-order-up{
	position: absolute;
	top: 5px;
	line-height: 1;
	/*left:-15px;*/
}
.phase-order-down{
	position: absolute;
	bottom: 5px;
	line-height: 1;
	/*left:-15px;*/
}
.phase-title{
	 /*position: absolute;*/
	 /*text-align: center;*/
	 /*z-index: 10;*/
	 /*width: 100%;*/
	 /*margin: 0px 50px;*/
	 margin-right: 5px;
	 margin-left: 15px;
	/*background-color: rgba(255,255,255,0.6);*/
	font-size: 1.5em;
	/*text-align: right;*/
	float: left;
}
.phase-duration{
	/*position: absolute;*/
	/*top: 10px;*/
	/*right: 5px;*/
	/*line-height: 0;*/
	float: right;
	margin-right: 10px;
}
.phase-duration:before{
	content: "dailycalendar";
}
.time-budget:before{
	content: "time";
}
.icon-before:before{
	  font-family: 'LigatureSymbols';
	  -webkit-text-rendering: optimizeLegibility;
	  -moz-text-rendering: optimizeLegibility;
	  -ms-text-rendering: optimizeLegibility;
	  -o-text-rendering: optimizeLegibility;
	  text-rendering: optimizeLegibility;
	  -webkit-font-smoothing: antialiased;
	  -moz-font-smoothing: antialiased;
	  -ms-font-smoothing: antialiased;
	  -o-font-smoothing: antialiased;
	  font-smoothing: antialiased;
	  margin-right: 5px;
	  font-size: 1.5em;
}
.time-budget{
	/*position: absolute;*/
	/*bottom: 10px;*/
	/*right: 5px;*/
	/*line-height: 0;*/
	float: right;
	margin-right: 10px;
}

.section{
	float: left;
	/*background-color: rgba(0,0,0,0.2);*/
	border-right: 1px solid rgba(255,255,255,0.2);
	margin-left: -1px;
	height: 100%;
	text-align: center;
	color: #fff;
	line-height: 100%;
	position: relative;
}
.section:hover{
	/*opacity: 0.7;*/
	font-size: 110%;
}
.main-bar .section:last-child{
	border-right: none;
}
.control.move{
	bottom: -7px;
	/*left: calc(50% - 25px);*/
	width: 100%;
	height: 7px;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	/*border-radius: 2px;*/
	text-align: center;
	cursor: ew-resize;
	margin: 0 auto;
	font-size: 20px;
	line-height: 7px;
}
.delete{
	/*left: 1px;*/
	/*bottom: 10px;*/
	cursor: pointer;

	/*border-radius: 12px;*/
	/*background-color: #F30;*/
	color: #F30;;
	/*height: 12px;*/
	/*width: 12px;*/
	/*line-height: 100%;*/
	/*text-align: center;*/
	font-size: 1.5em;
	/*line-height: 0;*/
	display: inline-block;
	position: static !important;
	margin-left: 5px;

}
.edit{
	/*left: 0px;*/
	/*top: 10px;*/
	cursor: pointer;
	/*border-radius: 12px;*/
	/*background-color: #F30;*/
	/*color: #F30;*/
	font-size: 1.5em;
	/*line-height: 0;*/
	/*float:left;*/
	display: inline-block;
	position: static !important;
	margin-left: 5px;
}
.control.add-section{
	right:-55px;
	/*top: 15px;*/
	cursor: pointer;
	font-size: 20px;
	/*border-radius: 12px;*/
	/*background-color: #ccc;*/
	/*color: #fff;*/
	/*height: 12px;*/
	/*width: 12px;*/
	/*line-height: 12px;*/
	text-align: center;

}
.control:hover{

}
.control{
	cursor: pointer;
}
.control.section-drag{
	top: 0px;
	right: -3px;
	width: 6px;
	height: 100%;
	cursor:ew-resize;
	/*background-color: #fff;*/
}
.drag{
	cursor:ew-resize;
}
.drag.left{
	position:absolute;
	left:0;
	top: 0;
	height: 100%;
}
.drag.right{
	position:absolute;
	right:0;
	top: 0;
	height: 100%;
}
.info.date{
	font-size: 15px;
	color: #fff;
	width:40px;
	/*overflow: hidden;*/
}
.info.date.left{
	left: -45px;
	text-align: right;
}
.info.date.right{
	right: -45px;
}
.data-point{
	/*overflow: hidden;*/
	/*border-bottom: 2px solid #eee;*/
	margin: 5px 0px;
	width:100%;
	position: absolute;
	-webkit-transition:all 0.5s ease;
	background: rgba(255, 255, 255, 0.05);
}
.data-point:nth-child(even) {
	
}
.data-point .drag,.data-point .control,.data-point .info{
	visibility: hidden;
	position: absolute;
	z-index: 100;
}
.data-point:hover .drag,.data-point:hover .control,.data-point:hover .info{
	visibility: visible;

}
.data-point .drag.active{
	visibility: visible;	
}
body.active .data-point{
	opacity: 0.35;
}
body.active  .data-point.active{
	opacity: 1;
}

table{
	width: 100%;
	
}
th{
	text-align: left;
}
tfoot{
	border-top: 1px solid #ccc;
	font-weight: bold;
}
.container{
	/*margin: 20px 40px;*/
}
small{
	font-size: 75%;
	color: #ccc;
	font-weight: normal;
}
/*g.data-point .drag.active ~ .drag{
	visibility: visible;	
}*/

.row.stats{
	text-align: center;
	/*background: rgba(255, 255, 255, 0.13);*/
	padding: 12px;
	border-bottom: 1px solid #eee;
	border-top: 1px solid #eee;
	margin: 15px 0px;
}
.row.stats>div{
	border-left: 1px solid #eee;
}
.row.stats>div:first-child{
	border-left: none;
}
.stats .value{
	font-size: 1.5em;
	font-weight: 100;
}
.stats label{
	font-size: .85em;
	font-weight: 400;
}

@font-face {
    font-family: 'LigatureSymbols/LigatureSymbols';
    src: url('LigatureSymbols/LigatureSymbols-2.11.eot');
    src: url('LigatureSymbols/LigatureSymbols-2.11.eot?#iefix') format('embedded-opentype'),
         url('LigatureSymbols/LigatureSymbols-2.11.woff') format('woff'),
         url('LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype'),
         url('LigatureSymbols/LigatureSymbols-2.11.svg#LigatureSymbols') format('svg');
    src: url('LigatureSymbols/LigatureSymbols-2.11.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.lsf, .lsf-icon:before {
  font-family: 'LigatureSymbols';
  -webkit-text-rendering: optimizeLegibility;
  -moz-text-rendering: optimizeLegibility;
  -ms-text-rendering: optimizeLegibility;
  -o-text-rendering: optimizeLegibility;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.lsf-icon:before {
  content:attr(title);
  margin-right:0.3em;
  font-size:130%;
}

