<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="UTF-8">
	<title>Project Planner</title>
	<!-- <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic' rel='stylesheet' type='text/css'> -->
	<link href='http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
	<link type="text/css" href="css/bootstrap.min.css" rel="stylesheet" />
	<!-- <link type="text/css" href="css/bootstrap-theme.min.css" rel="stylesheet" /> -->
	<link type="text/css" href="css/main.css" rel="stylesheet" />
	<script src="js/angular.min.js"></script>
	<script src="js/angular-locale_sv-se.js"></script>
	
</head>
<body id="ng-main" ng-controller="Planner">
<div class="container">
<div class="xgantt-wrapper">
        <h1>Project Planner</h1>
        <div id="gantt"></div>
        <a  ng-click="addPhase()" class=""><span class="lsf">add</span> Lägg till projektfas</a>
</div>

    <div class="row stats">
			<div class="col-md-3">
				<div class="value">{{sumHours()| number:1}} h</div>
				<label>Timbudget</label>			

			</div>
			<div class="col-md-3">
				<div class="value">{{sumHours()* hourlyRate*(1+buffer)| number:1}}kr</div>
				<label>Kostnad</label>
				
			</div>
			<div class="col-md-3">
				<div class="value">{{calcTotalDateSpan()}} dagar</div>
				<label>Projektlängd </label>
			</div>
		<div class="col-md-3">
				<div class="value">{{(sumHours()/calcTotalDateSpan()) | number:1}}h/dag </div>
				<label>Tempo </label>
			</div>
	</div>  
	<div id="work-density-chart"></div>
  	<div class="row">
  		<div class="col-xs-12">
    		<!-- <button type="button" ng-click="refreshGantt()" class="btn btn-default btn-xs">Uppdatera</button> -->
		</div>
	</div>
	 <div class="row">
  		<div class="col-md-10">
			 <table>
			    	<thead>
			    		<tr>
			    			<th>Fas</th>
			    			<th>Start</th>
			    			<th>Slut</th>
			    			<th>Timkalkyl</th>
			    			<th>Budget</th>
			    			<th>Buffert</th>
			    			<th>Budget ink buffert</th>
			    		</tr>
			    	</thead>
			    	<tfoot>
			    		<tr>
			    			<td></td>
			    			<td></td>
			    			<td></td>
			    			<td>Summa</td>
			    			<td>{{sumHours()*hourlyRate}}</td>
			    			<td>{{sumHours()*hourlyRate*buffer}}</td>
			    			<td>{{sumHours()* hourlyRate*(1+buffer)}}kr</td>
			    			<td></td>
			    		</tr>
			    	</tfoot>
			    	<tbody>
					    <tr ng-repeat="phase in data">
					      <td>{{phase.name}}</td>
					      <td>{{phase.start.getDate()}}/{{phase.start.getMonth()+1}}</td>
					      <td>{{phase.end.getDate()}}/{{phase.end.getMonth()+1}}</td>
					      <td>{{phase.sections.sectionSum}} timmar</td>
					      <td>{{phase.sections.sectionSum * hourlyRate}} kr</td>
					      <td>{{phase.sections.sectionSum * hourlyRate*buffer | number:0}} kr</td>
					      <td>{{phase.sections.sectionSum * hourlyRate*(1+buffer) | number:0}} kr</td>
					      <td><span ng-click="deletePhase(phase)" class="xbtn xbtn-default xbtn-xs lsf">delete</span></td>
					    </tr>    		
			    	</tbody>
			  	</table> 			
  		</div>

	  	<div class="col-md-2">
	  <!-- 	<h2>Budget</h2>
	  	<p class="lead">{{sumHours()*hourlyRate}}kr</p>
	  	<p class="lead">{{sumHours()*hourlyRate*buffer}}kr</p>
	  	<p class="lead">{{sumHours()* hourlyRate*(1+buffer)}}kr</p> -->
	     <label>Timtaxa:</label>
	      	<input type="number"  step='100' min='0' ng-model="hourlyRate" class="form-control input-sm">
	      	  	<label>Buffert:</label>
	  		<input type="number"  step='0.1' min='0' max='1' ng-model="buffer" class="form-control input-sm">
	  	</div>
  	</div>

<!--   	<div class="row">
  		<div class="col-xs-6" >
  			<div ng-repeat="phase in data">
	  			<h2>{{phase.name}} <small>{{phase.sections.sectionSum * hourlyRate*(1+buffer)}}kr</small> </h2>
	  			<p>{{phase.description}}</p>
				<div ng-repeat="section in phase.sections">
					<h4>{{section.name}} <small>{{section.duration * hourlyRate*(1+buffer)}}kr</small></h4>

					<p>{{section.description}}</p>
					<button class="btn btn-sm btn-primary lsf" ng-click="editSection(phase,section,false)">edit</button>

				</div>
  			</div>

  		</div>
  	</div> -->
    </div>


<!-- '''''' -->
<!-- Modals -->
<!-- '''''' -->

   <div class="modal fade" id="editSection" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Redigera Delfas</h4>
	      </div>
	      <div class="modal-body">

			<form name="myForm">
			  <div class="control-group">
			    <label>Namn</label>
			    <input type="text" name="name" ng-model="tempSection.name" required class="form-control">
			    <span ng-show="myForm.name.$error.required" class="help-inline">
			        Krävd</span>
			  </div>
			 
			 <div class="control-group" >
			    <label>Antal timmar</label>
			    <div class="input-group">
			    	<input type="number" name="duration" ng-model="tempSection.duration" step="2" required class="form-control">
				  <span class="input-group-addon">timmar</span>
				</div>
			    <span ng-show="myForm.duration.$error.required" class="help-inline">
			        Krävd</span>
			 </div>
			<p>Kostnad ink buffert: {{tempSection.duration*hourlyRate*(1+buffer)}}</p>
			
			<div class="control-group">
				<label>Beskrivning</label>
  				<textarea name="description" class="form-control" ng-model="tempSection.description"></textarea>
			</div>
			</form>


	      </div>
	      <div class="modal-footer">
	        <button type="button" ng-click="deleteSection(tempPhase,tempSection)" class="btn btn-danger lsf" data-dismiss="modal">delete</button>
	        <button type="button" ng-click="saveSection()" class="btn btn-primary" ng-disabled="myForm.$invalid">Spara</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->



   <div class="modal fade" id="editPhase" tabindex="-1" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	        <h4 class="modal-title">Redigera Projektfas</h4>
	      </div>
	      <div class="modal-body">

			<form name="myForm">
			  <div class="control-group">
			    <label>Namn</label>
			    <input type="text" name="name" ng-model="tempPhase.name" required class="form-control">
			    <span ng-show="myForm.name.$error.required" class="help-inline">
			        Krävd</span>
			  </div>

			  <div class="control-group">
			    <label>Start</label>
			    <input type="text" name="start" ng-model="tempPhase.start" required class="form-control">
			    <span ng-show="myForm.name.$error.required" class="help-inline">
			        Krävd</span>
			  </div>

			  <div class="control-group">
			    <label>Slut</label>
			    <input type="text" name="end" ng-model="tempPhase.end" required class="form-control">
			    <span ng-show="myForm.name.$error.required" class="help-inline">
			        Krävd</span>
			  </div>

<!-- 			 <div class="control-group" >
			    <label>Antal timmar</label>
			    <div class="input-group">
			    	<input type="number" name="duration" ng-model="tempPhase.duration" step="2" required class="form-control">
				  <span class="input-group-addon">timmar</span>
				</div>
			    <span ng-show="myForm.duration.$error.required" class="help-inline">
			        Krävd</span>
			 </div> -->
			<!-- <p>Kostnad ink buffert: {{tempPhase.duration*hourlyRate*(1+buffer)}}</p> -->
			
			<div class="control-group">
				<label>Beskrivning</label>
  				<textarea name="description" class="form-control" ng-model="tempPhase.description"></textarea>
			</div>
			</form>
			<h3>Delfaser</h3>
  			<div ng-repeat="section in tempPhase.sections" class="form-inline">
  				<label>Namn</label>
  				<input type="text" style="width:45%;" name="name" ng-model="section.name" required class="form-control">
  				<label>Timbudget</label>
  				<input type="number" style="width:15%;" name="name" ng-model="section.duration" required class="form-control">
	  			<p>{{section.duration * hourlyRate*(1+buffer)}} kr</p>
	  			<div class="control-group">
				<!-- <label>Beskrivning</label> -->
  				<!-- <textarea name="description" class="form-control" ng-model="tempSection.description"></textarea> -->
			</div>
	  			<!-- <textarea ng-model="phase.description" class="form-control"></textarea> -->
  			</div>

	      </div>
	      <div class="modal-footer">
	        <button type="button" ng-click="deleteSection(tempPhase,tempPhase)" class="btn btn-danger lsf" data-dismiss="modal">delete</button>
	        <button type="button" ng-click="savePhase()" class="btn btn-primary" >Spara</button>
	      </div>
	    </div><!-- /.modal-content -->
	  </div><!-- /.modal-dialog -->
	</div><!-- /.modal -->

</body>
</html>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- // <script type="text/javascript" src="js/Jquery.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/d3.v3.min.js"></script>
	<script type="text/javascript" src="js/workDensity.js"></script>
	<script type="text/javascript" src="js/gantt.js"></script>
	<script type="text/javascript" src="js/main.js"></script>